<h1>To Do</h1>

<p>Here are all of your tasks:</p>

<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action="/tasks" method="post">
  <div class="form-group">
    <label for="description">Task Description</label>
    <input class="form-control" type="text" name="description" id="description">
  </div>

  <button class="btn btn-success" type="submit">Add Task</button>
</form>
